

<form [formGroup]="profileForm" class="form-container">

    <p-dialog
      header="Add new task"
      [(visible)]="isVisible"
      [style]="{ width: '28rem'}"
    >
  <div class="p-dialog-container">
  
    <div class="form-article">
      <label for="id">ID</label>
      <input id="id" formControlName="id" type="text"  (input)="profileForm.controls['id'].markAsTouched()"  placeholder="add id" />
            <div class="error-message" *ngIf="profileForm.controls.id.invalid && profileForm.controls.id.touched">
              <small *ngIf="profileForm.controls['id'].hasError('required')">ID is required.</small>
              <small *ngIf="profileForm.controls['id'].hasError('pattern')">ID must be a number.</small>
              <small *ngIf="profileForm.controls['id'].hasError('minlength')">Must must be at least 1 characters long.</small>
            </div>
    </div>
  
    <div class="form-article">
      <label for="title">new title</label>
      <input id="title" formControlName="title" type="text"  (input)="profileForm.controls['title'].markAsTouched()" placeholder="add title" />
          <div class="error-message" *ngIf="profileForm.controls['title'].invalid && profileForm.controls['title'].touched">  
          <small *ngIf="profileForm.controls['title'].hasError('required')">Title is required.</small>
          <small *ngIf="profileForm.controls['title'].hasError('minlength')">Must be at least 3 characters long.</small>
      </div>
    </div>
  
      
      <div class="form-article">
        <label for="discription">new discription</label>
        <input id="discription" formControlName="discription" type="text"  (input)="profileForm.controls['discription'].markAsTouched()" placeholder="add discription" />
        <div class="error-message" *ngIf="profileForm.controls['discription'].invalid && profileForm.controls['discription'].touched">
          <small *ngIf="profileForm.controls['discription'].hasError('required')">Discription is required.</small>
          <small *ngIf="profileForm.controls['discription'].hasError('minlength')">Must be at least 5 characters long.</small>
        </div>
      </div>
  
      <div class="form-article">
        <label for="priority" style="display: grid;">datelimite</label>
        <p-datepicker formControlName="datelimite" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"  (input)="profileForm.controls['datelimite'].markAsTouched()" />
        <div class="error-message" *ngIf="profileForm.controls['datelimite'].invalid && profileForm.controls['datelimite'].touched">
          <small *ngIf="profileForm.controls['datelimite'].hasError('required')">Discription is required.</small>
        </div>
      </div>
  
      <div class="form-article">
        <label for="priority">priority</label>
        <select  id="priority" formControlName="priority"  >  
          <option value="" disabled selected>choose priority</option>
          <option value="low">{{taskPriority.Low}}</option>
          <option value="medium">{{taskPriority.Medium}}</option>
          <option value="high">{{taskPriority.High}}</option>
        </select>
        <div class="error-message" *ngIf="profileForm.controls['priority'].invalid && profileForm.controls['priority'].touched">
          <small *ngIf="profileForm.controls['priority'].hasError('required')">Priority is required.</small>
        </div>
      </div>
  
      <div class="form-article">
        <label for="status">status</label>
        <select  id="status" formControlName="status" >
          <option value="" disabled selected>choose status</option>
          <option value="open">{{taskStatus.Open}}</option>
          <option value="in progress">{{taskStatus.InProgress}}</option>
          <option value="completed">{{taskStatus.Completed}}</option>
          <option value="postponed">{{taskStatus.Postponed}}</option>
        </select>
        <div class="error-message" *ngIf="profileForm.controls['status'].invalid && profileForm.controls['status'].touched">
          <small *ngIf="profileForm.controls['status'].hasError('required')">Status is required.</small>
        </div>
      </div>
  
  
          
      <div class="form-article">
        <label for="user">user</label>
        <input id="user" formControlName="user" type="text"  (input)="profileForm.controls['user'].markAsTouched()" placeholder="user name" />
        <div class="error-message" *ngIf="profileForm.controls['user'].invalid && profileForm.controls['user'].touched">
          <small *ngIf="profileForm.controls['user'].hasError('required')">Name is required.</small>
          <small *ngIf="profileForm.controls['user'].hasError('minlength')">Name must be at least 3 characters long.</small>
        </div>
      </div>
  
  
      <p-button label="inStore" class="btn-add"  (onClick)="onAdd(profileForm)"  [disabled]="profileForm.invalid"/>
  
      </div>
    </p-dialog>
  </form>