@font-face {
    font-family: 'Roboto';
    src: url('/font-google/roboto/Roboto-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
  }
:host {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal; 
    font-size: 16px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }