.task-table-container {
  width: 100%;
  display: flex;
  justify-content: center;

  p-table {
    border: 1px solid rgb(165, 163, 163);
    width: 80%;
  }
  .globale-search {
    display: flex;
    align-items: center;
    align-content: center;
    img {
      position: absolute;
      margin: 10px;
    }

    .search {
      height: 40px;
      width: 300px;
      padding-left: 40px;
      font-size: 18px;
      border: 1px solid black;
    }
  }

  p-dialog div {
    margin: 10px 0;
  }
}

.btn {
  width: 90%;
  display: flex;
  justify-content: end;
  margin: 30px 0;
}
